<html>
    <head>
        <title>
            <%= title %>
        </title>
    </head>
    <body>

         <!-- Inserting Header layout -->
         <%- include('_header'); %>

         <h1>Codeial / <%= title %></h1>
 
         <!-- Inserting Footer layout -->
         <%- include('_footer'); %>

    </body>
</html>